# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore local .terraform directories
.terraform/

# Ignore any plan files
*.plan

# Ignore CLI configuration files
terraform.rc

# Ignore any crash log files
crash.log

# Ignore .terraform.lock.hcl file
.terraform.lock.hcl